@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container pt-3">
<h2>My Store</h2>

<a asp-action="PurchaseHistory">Purchase History</a> <br/>
<a asp-action="ListedBooks">My Books</a><br/>
</div>