@model object

@{
    ViewBag.Title = "Purchase History";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>Purchases</h2><a class="nav-link" asp-controller="User" asp-action="Index">>Back</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book name</th>
            <th scope="col">Price (AU)</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
    <tr>
            <th scope="row">1</th>
            <td>Sustainability</td>
            <td>70</td>
            <td>Sent</td>
            <td><a href="#" class="removeLink">Remove</a></td>
        </tr>
     </tbody>
    </table>
</div>