@model object

@{
    ViewBag.Title = "View Book";
    Layout = "_Layout";

}

<link rel="stylesheet" href="~/style.css">
<div class="container pt-3">
    <h2>View Book</h2><a class="nav-link" asp-controller="User" asp-action="ListedBooks">>Back</a>
</div>
<section class="single_product_details_area d-flex align-items-center">
        <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <img src="~/img/book_img/Software Engineering_1.jpg" alt="">
                <!--    <img src="~/img/book_img/Software Engineering_2.jpg" alt="">
                    <img src="~/img/book_img/Software Engineering_3.jpg" alt="">-->
                </div>
        </div>
       
        <div>

            <span>Pearson</span>
            <h2>Software Engineering, Global Edition</h2>
            <p class="product-price"><span class="old-price">$60.00</span> $60.00</p>
            <h5>The Fundamental Practice of Software Engineering</h5>
            <p class="product-desc">
            <p><strong>Software Engineering</strong> introduces students to the overwhelmingly important subject of software programming and development. In the past few years, computer systems have come to dominate not just our technological growth, but the foundations of our world’s major industries. This text seeks to lay out the fundamental concepts of this huge and continually growing subject area in a clear and comprehensive manner.</p>
            <p>The <strong>Tenth Edition</strong> contains new information that highlights various technological updates of recent years, providing students with highly relevant and current information. Sommerville’s experience in system dependability and systems engineering guides the text through a traditional plan-based approach that incorporates some novel agile methods. The text strives to teach the innovators of tomorrow how to create software that will make our world a better, safer, and more advanced place to live.</p>


        </div>
    </section>

