
@model object

@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<div class="container pt-3">
<h2>Admin Panel</h2>
<div class="container">
    <div class="row" align="justify">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage User</h5>
                    
                    <a asp-controller="AdminPanel" asp-action="UserManagement" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Manage Units</h5>
                   
                    <a asp-controller="AdminPanel" asp-action="UnitManagement" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Generate Reports</h5>
                    
                    <a asp-controller="AdminPanel" asp-action="Reports" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>