
@model object

@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<div class="container pt-3">
<h2>Admin Panel</h2>
<div class="container">
    <div class="row" align="justify">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-users-cog"></i> Manage User</h4>
                    
                    <a asp-controller="AdminPanel" asp-action="UserManagement" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-copy"></i> Manage Units</h4>
                   
                    <a asp-controller="AdminPanel" asp-action="UnitManagement" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-file-alt"></i> Generate Reports</h4>
                    
                    <a asp-controller="AdminPanel" asp-action="Reports" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>