@model IEnumerable<BOOKLOUD.Models.UnitDetailsModel>

@{
    ViewData["Title"] = "UnitManagement";
    Layout = "_Layout";
}

    <div class="container p-3">
        <h2>Unit Management</h2>
        <a asp-controller="AdminPanel" asp-action="AddUnit" class="btn btn-primary mb-3">Create New Unit</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Unit Name</th>
                    <th>Controls</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitName)
                            
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
