@model BOOKLOUD.Models.Book

@{
    ViewData["Title"] = "Edit Books";
}
    <div class="container pt-3">
        <h1>Edit My Book</h1>
        <br />
        <h4>Book Details</h4>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <form a asp-controller="MyStore" asp-action="EditBooks" enctype="multipart/form-data" id="editbook">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group required">
                        <label asp-for="BookName" class="control-label"></label>
                        <input asp-for="BookName" class="form-control" required/>
                        <span asp-validation-for="BookName" class="text-danger"></span>
                    </div>
                    <div class="form-group required">
                        <label asp-for="BookAuthor" class="control-label"></label>
                        <input asp-for="BookAuthor" class="form-control" />
                        <span asp-validation-for="BookAuthor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookEdition" class="control-label"></label>
                        <input asp-for="BookEdition" class="form-control" />
                        <span asp-validation-for="BookEdition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookIsbn" class="control-label"></label>
                        <input asp-for="BookIsbn" class="form-control" />
                        <span asp-validation-for="BookIsbn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UniversityLocation" class="control-label"></label>
                        <input asp-for="UniversityLocation" class="form-control" />
                        <span asp-validation-for="UniversityLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseName" class="control-label"></label>
                        <input asp-for="CourseName" class="form-control" />
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitName" class="control-label"></label>
                        <input asp-for="UnitName" class="form-control" />
                        <span asp-validation-for="UnitName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookImage" class="control-label"></label>
                        <input asp-for="BookImage" type="file" name="BookImage" class="form-control-file" />
                        <span asp-validation-for="BookImage" class="text-danger"></span>
                    </div>
                    <div class="form-group required">
                        <label asp-for="BookPrice" class="control-label"></label>
                        <input asp-for="BookPrice" type="text" class="form-control"/>
                        <span asp-validation-for="BookPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookDescription" class="control-label"></label>
                        <input asp-for="BookDescription" class="form-control" />
                        <span asp-validation-for="BookDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="MyBooks"><i class="far fa-arrow-alt-circle-left"></i> Back to MyBooks</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>