@model object

@{
    ViewBag.Title = "My Store";
    Layout = "_Layout";
}

    <div class="container pt-3">
        <h2>My Store</h2>
        <div class="container">
            <div class="row">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-chart-line"></i> Recent Activity</h4>
                        <p class="card-text">You will find all activities that you have done or still ongoing.</p>
                        <a asp-controller="MyStore" asp-action="RecentActivities" class="btn btn-primary">View</a>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-book-reader"></i> My BookDetailsDALModelDetailsViewModels</h4>
                        <p class="card-text">You will find all bookDetailsViewModels that you listed or sold here.</p>
                        <a asp-controller="MyStore" asp-action="MyBooks" class="btn btn-primary">View</a>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-clipboard-list"></i> Purchases</h4>
                        <p class="card-text">You will find all bookDetailsViewModels that you have bought here.</p>
                        <a asp-controller="MyStore" asp-action="PurchaseHistory" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Find other textbookDetailsViewModels in BookDetailsDALModelDetailsViewModelloud
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">BookDetailsDALModelDetailsViewModel 1</h5>
                                <p class="card-text"><p class="card-text"><p class="card-text">View the ID 1 bookDetailsViewModel.</p>
                                <p a asp-controller="MyStore" asp-action="ViewBookDetailsDALModelDetailsViewModels" asp-route-id="1" class="btn btn-primary">View</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">BookDetailsDALModelDetailsViewModel 2</h5>
                                <p class="card-text">View the ID 2 bookDetailsViewModel.</p>
                                <p a asp-controller="MyStore" asp-action="ViewBookDetailsDALModelDetailsViewModels" asp-route-id="1" class="btn btn-primary">View</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">BookDetailsDALModelDetailsViewModel 3</h5>
                                <p class="card-text">View the ID 3 bookDetailsViewModel.</p>
                                <p a asp-controller="MyStore" asp-action="ViewBookDetailsDALModelDetailsViewModels" asp-route-id="1" class="btn btn-primary">View</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">BookDetailsDALModelDetailsViewModel 4</h5>
                                    <p class="card-text">View the ID  bookDetailsViewModel.</p>
                                    <p a asp-controller="MyStore" asp-action="ViewBookDetailsDALModelDetailsViewModels" asp-route-id="1" class="btn btn-primary">View</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
