@model IEnumerable<BOOKLOUD.Data.Book>

@{
    ViewBag.Title = "My Book";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>My Book</h2><a class="nav-link" asp-controller="MyStore" asp-action="Index">>Back</a>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <form class="mx-2 my-auto d-inline w-75" id="searchBar" asp-controller="SearchBook" asp-action="Index">
                <h1>Find My Textbook</h1>
                <div class="input-group">
                    <input id="bookName" type="text" class="form-control searchInput" name="SearchString" placeholder="Search by title, author, unit code or ISBN">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Author</th>
                <th scope="col">Price (AU)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @Html.DisplayTextFor(modelItem => item.Id)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookName)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookAuthor)</td>
                <td> @Html.DisplayTextFor(modelItem => item.BookPrice)</td>
            </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
