@model object

@{
    ViewBag.Title = "Recent Activities";
    Layout = "_Layout";
}

<div class="container pt-3">
    <h2>Recent Activities</h2>
    <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="far fa-arrow-alt-circle-left"></i> Back to last page.</a>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book name</th>
            <th scope="col">Price (AU)</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Software Engineering</td>
            <td>60</td>
            <td>Sold</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sustainability</td>
            <td>70</td>
            <td>Bought</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mythical Man Month</td>
            <td>60</td>
            <td>Listed</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Entrepreneurship</td>
            <td>80</td>
            <td>Requested</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div><br />
