@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@functions {
    public ClaimsPrincipal Admin { get; }
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BOOKLOUD</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BOOKLOUD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                       @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#addBookModal" href="#">Add Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Index">My Store</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container-fluid p-0">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<!-- Add Book Modal -->
<div class="modal" id="addBookModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Books</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="bookTitle">Book Title</label>
                        <input type="text" class="form-control" id="bookTitle" placeholder="Enter book title">
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor">Author</label>
                        <input type="text" class="form-control" id="bookAuthor" placeholder="Enter author name">
                    </div>
                    <div class="form-group">
                        <label for="bookISBN">ISBN</label>
                        <input type="text" class="form-control" id="bookISBN" placeholder="Enter ISBN">
                    </div>
                    <div class="form-group">
                        <label for="universityNameLocation">University</label>
                        <select id="universityNameLocation" class="form-control">
                            <option>Charles Darwin University - Darwin</option>
                            <option>Swinburne University - Melbourne</option>
                            <option>La Trobe Univeristy - Sydny</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="courseName">Course</label>
                        <select id="courseName" class="form-control">
                            <option>Master of Information Technology (SE)</option>
                            <option>Master of Mechanical Engineering</option>
                            <option>Master of Data Science</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="unitCodeName">Unit</label>
                        <select id="unitCodeName" class="form-control">
                            <option>PRT455 - Software Engineering Practice</option>
                            <option>PRT820 - Master Thesis</option>
                            <option>DLF544 - Web Technologies</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bookImage">Book Image</label>
                        <input type="file" class="form-control-file" id="bookImage">
                    </div>
                    <div class="form-group">
                        <label for="bookPrice">Book Price</label>
                        <input type="text" class="form-control" id="bookPrice" placeholder="Enter Book Price" required="true">
                    </div>
                    <div class="form-group">
                        <label for="bookISBN">Book Description</label>
                        <textarea class="form-control" id="bookISBN" placeholder="Enter book description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - BOOKLOUD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
