@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
    <div class="container pt-3">
        <a asp-action="UserManagement">User Management</a> <br />
        <a asp-action="UnitManagement">Unit Management</a><br />
        <a asp-action="Reports">Generate Reports</a>
    </div>