@model object

@{
    ViewBag.Title = "Unit Management";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>Unit Management</h2><a class="nav-link" asp-controller="User" asp-action="Index">>Back</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Unit Code</th>
                <th scope="col">Sector</th>
                <th scope="col">Unit Name</th>
                <th scope="col">Unit Type</th>
                <th scope="col">View/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">PRT455</th>
                <td>IT</td>
                <td>Software Engineering</td>
                <td>Core</td>
                <td><a asp-action="UnitManagement">View</a><a>|</a><a href="#" class="removeLink">Remove</a></td>
            </tr>
            <tr>
                <th scope="row">ENG417</th>
                <td>Engineering</td>
                <td>Sustainability</td>
                <td>Core</td>
                <td><a asp-action="UnitManagement">View</a><a>|</a><a href="#" class="removeLink">Remove</a></td>
            </tr>
        <tr>
            <th scope="row">PRT457</th>
            <td>IT</td>
            <td>System Security</td>
            <td>Core</td>
            <td><a asp-action="UnitManagement">View</a><a>|</a><a href="#" class="removeLink">Remove</a></td>
        </tr>


        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        <a class="nav-link" asp-controller="Admin" asp-action="Index">>Back</a>
    </nav>
</div>