@model BOOKLOUD.Models.Book

@{
    ViewData["Title"] = "RequestBook";
}
    <div class="container pt-3">
        <h1>Request a Book</h1>
        Do you want to add a book to the library or request material from other libraries? Just let me know what you need, and I'll order for you and let you know when your requests are here.
        <h4>Add Request</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="RequestBook" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BookName" class="control-label"></label>
                        <input asp-for="BookName" class="form-control" />
                        <span asp-validation-for="BookName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookAuthor" class="control-label"></label>
                        <input asp-for="BookAuthor" class="form-control" />
                        <span asp-validation-for="BookAuthor" class="text-danger"></span>
                    </div>       
                    <div class="form-group">
                        <label asp-for="BookImage">Book Image</label>
                        <input asp-for="BookImage" type="file" name="BookImage" class="form-control-file">
                    </div>                  
                    <div class="form-group">
                        <label asp-for="BookDescription" class="control-label"></label>
                        <textarea asp-for="BookDescription" class="form-control" />
                        <span asp-validation-for="BookDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
