@model BOOKLOUD.Data.Book
@{
    ViewData["Title"] = "Home Page";
}


<header class="py-5 bg-image-full">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="mx-2 my-auto d-inline w-100" id="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by title, author, unit code or ISBN">
                    <span class="input-group-append">
                        <button class="btn btn-dark" type="button">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Latest Books</h1>
        <p class="lead">Find recently added textbooks in Bookloud</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a asp-controller="MyStore" asp-action="ViewBooks" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book 2</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a asp-controller="MyStore" asp-action="ViewBooks" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book 3</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a asp-controller="MyStore" asp-action="ViewBooks" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book 4</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a asp-controller="MyStore" asp-action="ViewBooks" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>