@model Book
@{
    ViewData["Title"] = "Home";
}


<header class="py-5 bg-image-full">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <form class="mx-2 my-auto d-inline w-75" id="searchBar" asp-controller="SearchBook" asp-action="Index">
                <h1>Find a textbook</h1>
                <div class="input-group">
                    <input asp-for="BookName" type="text" class="form-control searchInput" name="SearchString" placeholder="Search by title, author, unit code or ISBN">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</header>


<div class="container" id="latestBooks">
    <h1 class="text-center mb-1">Latest Books</h1>
    <p class="lead text-center">- Find recently added textbooks in Bookloud -</p>
</div>

<div class="container" id="BookCarouselWrapper">
    <div id="latestBookCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in ViewBag.Books)
            {
                <div class="carousel-item col-12">
                    <img class="d-block carousel-img img-fluid" src="~/img/book_img/@item.BookImage" alt="slide"/>
                    <div class="carousel-caption">
                        <h5>@item.BookName</h5>
                        <p>By @item.BookAuthor</p>
                        <a class="viewBook" asp-controller="MyStore"  asp-action="ViewBooks" asp-route-id="@item.Id">View</a>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#latestBookCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#latestBookCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".carousel-inner .carousel-item:first-child").addClass('active');

            $("#BookName").autocomplete({
                    source: '/api/book/search'
                })
                .autocomplete('instance')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<img class="autoCompleteImg" src=' + '/img/book_img/' + item.imgPath + ' />')
                        .append(item.label)
                        .appendTo(ul);
                };
        })
    </script>
}
