@model UniversityDetailsModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <div class="container p-3">
        <h2>Unit Details</h2>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 font-weight-bold">
                    University Name :
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UniversityName)
                </dd>
            </dl>

        </div>
    </div>
