@model List<UnitDetailsModel>

@{
    ViewBag.Title = "View Unit";
    Layout = "_Layout";
}
<div class="container p-3">
    <h2>Unit Details</h2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                UnitCode :
            </dt>
            <dd class = "col-sm-10">
                
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                UnitName :
            </dt>
            <dd class = "col-sm-10">
                
            </dd>
        </dl>

    </div>
</div>