@model Book

@{
    ViewBag.Title = "Add Books";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>Add Books</h2>

    <section class="col-md-4 p-0">
        <form asp-controller="AddBook" asp-action="Create" enctype="multipart/form-data" method="post" id="addBook">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group required">
                <label asp-for="BookName" class="control-label">Book Title</label>
                <input asp-for="BookName" type="text" class="form-control" placeholder="Enter book title">
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="BookAuthor" class="control-label">Author</label>
                <input type="text" asp-for="BookAuthor" class="form-control" placeholder="Enter author name">
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookEdition">Edition</label>
                <input type="text" asp-for="BookEdition" class="form-control" placeholder="Enter book edition">
            </div>
            <div class="form-group">
                <label asp-for="BookIsbn">ISBN</label>
                <input type="text" asp-for="BookIsbn" class="form-control" placeholder="Enter ISBN">
            </div>
            <div class="form-group">
                <label for="UniversityId">University</label>
                <select id="UniversityId" asp-for="Id" class="form-control" name="UniversityList" asp-items="@(new SelectList(ViewBag.universities, "Id", "UniversityName"))">
                    <option selected="true" disabled="disabled">- Select University -</option>
                    <option >- Unknown -</option>
                </select>
            </div>
            <div class="form-group">
                <label for="CourseId">Course</label>
                <select id="CourseId" asp-for="Id" class="form-control" name="CourseList" asp-items="@(new SelectList(string.Empty, "Id", "UniversityName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UnitName">Unit</label>
                <select asp-for="UnitName" class="form-control" asp-items="@(new SelectList(string.Empty, "Id", "CourseName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BookImage">Book Image</label>
                <input asp-for="BookImage" type="file" name="BookImage" class="form-control-file">
            </div>
            <div class="form-group required">
                <label asp-for="BookPrice" class="control-label">Book Price</label>
                <input asp-for="BookPrice" type="text" class="form-control" placeholder="Enter Book Price">
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookDescription">Book Description</label>
                <textarea asp-for="BookDescription" class="form-control" placeholder="Enter book description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
