@model Book

@{
    ViewBag.Title = "Add Books";
    Layout = "_Layout";
}
<div class="container pt-3">
    <h2>Add Books</h2>

    <section class="col-md-4 p-0">
        <form asp-controller="AddBook" asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="BookName">Book Title</label>
                <input asp-for="BookName" type="text" class="form-control"  placeholder="Enter book title" required>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor">Author</label>
                <input type="text" asp-for="BookAuthor" class="form-control" placeholder="Enter author name">
            </div>
            <div class="form-group">
                <label asp-for="BookEdition">Edition</label>
                <input type="text" asp-for="BookEdition" class="form-control" placeholder="Enter book edition">
            </div>
            <div class="form-group">
                <label asp-for="BookIsbn">ISBN</label>
                <input type="text" asp-for="BookIsbn" class="form-control" placeholder="Enter ISBN">
            </div>
            <div class="form-group">
                <label for="UniversityId">University</label>
                <select id="UniversityId" asp-for="Id" class="form-control" name="UniversityList" asp-items="@(new SelectList(ViewBag.universities, "Id", "UniversityName"))">
                    <option>- Select University -</option>
                </select>
            </div>
            <div class="form-group">
                <label for="CourseId">Course</label>
                <select id="CourseId" asp-for="Id" class="form-control" name="CourseList" asp-items="@(new SelectList(string.Empty, "Id", "UniversityName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UnitName">Unit</label>
                <select asp-for="UnitName" class="form-control" asp-items="@(new SelectList(string.Empty, "Id", "CourseName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BookImage">Book Image</label>
                <input asp-for="BookImage" type="file" name="BookImage" class="form-control-file">
            </div>
            <div class="form-group">
                <label asp-for="BookPrice">Book Price</label>
                <input asp-for="BookPrice" type="text" class="form-control" placeholder="Enter Book Price" required>
            </div>
            <div class="form-group">
                <label asp-for="BookDescription">Book Description</label>
                <textarea asp-for="BookDescription" class="form-control" placeholder="Enter book description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>